{
"__merge" : [],
"defaultBlueprints" : {
"__merge" : [],
"tier1": [ 
// More Alchemmy Stuff
{ "item" : "woodencork" },
{ "item" : "smallemptyflask" },
{ "item" : "smallwfilledflask" },
/* Profession Bound Tables Primary */
{ "item" : "AlchemistDesk" },
{ "item" : "EngineeringStation" },
/* Profession Bound Secondary Primary */
{ "item" : "RunecraftingStation" },
{ "item" : "MedicalStation" },
// Powder
{ "item" : "amberpowder" },
{ "item" : "purplepowder" },
{ "item" : "orangepowder" },
{ "item" : "cyanpowder" },
// Rune Crafting
{ "item" : "waterrune" },
{ "item" : "firerune" },
// Bandages
{ "item" : "linenbandage" },
// MED Kits
{ "item" : "smallmedkit" },
// Potions
{ "item" : "minorhealingpotion" },
{ "item" : "minorenergypotion" },
// Transmutes
{ "item" : "philosopherstone" },
{ "item" : "coalore" },
{ "item" : "copperbar" },
{ "item" : "ironbar" },
// Dyes
{ "item" : "blue-dye" },
{ "item" : "green-dye" },
{ "item" : "red-dye" },
{ "item" : "black-dye" },
{ "item" : "white-dye" },
{ "item" : "purple-dye" },
{ "item" : "yellow-dye" },
{ "item" : "orange-dye" },
{ "item" : "amber-dye" },
{ "item" : "cyan-dye" },
{ "item" : "pink-dye" },
{ "item" : "brown-dye" },
{ "item" : "yellow-dye" },
{ "item" : "grey-dye" },
// Medical Gadgets
// Engineering Gadgets
{ "item" : "VaporCondenserGun" },
{ "item" : "LavaBlobber" },
{ "item" : "LethalPoisonInjector" }
]
}
}