{
"__merge" : [],
"defaultBlueprints" : {
"__merge" : [],
"tier1": [ 
// All Race Crafts
{ "item" : "proboundstation" },
{ "item" : "heavyblackpowder" },
{ "item" : "coarsegrindingstone" },
{ "item" : "roughgrindingstone" },
{ "item" : "bolt_of_linen_cloth" },
{ "item" : "cotton_thread" },
{ "item" : "salt" },
{ "item" : "flour" },
{ "item" : "cookedwing" },
{ "item" : "cookedsmallfish" },
{ "item" : "cookedsardine" },
{ "item" : "cookedsunfish" },
{ "item" : "woodfireworkitem" },
{ "item" : "tinbar" },
{ "item" : "medievalbucket" },
{ "item" : "target0object" },
{ "item" : "target1object" },
{ "item" : "target2object" },
{ "item" : "target3object" },
{ "item" : "pixelherodemoback" },
{ "item" : "pixelherodemochest" },
{ "item" : "plaguedoctorhead" },
{ "item" : "fancyhead" },
{ "item" : "piratehead" },
// Farmer - Farming Market
{ "item" : "woodenhoe" },
{ "item" : "bellpeppersseed" },
{ "item" : "guamseed" },
{ "item" : "mintseed" },
{ "item" : "silverleafseed" },
// The Doc - Medical Station
{ "item" : "linenbandage" },
// Runecrafter - Runecrafting Station
{ "item" : "firerune" },
{ "item" : "earthrune" },
{ "item" : "waterrune" },
// Leathercrafter - Tanning Rack
{ "item" : "softleather" },
{ "item" : "curedlighthide" },
// Engineer - Engineering Station
{ "item" : "black_powder" },
{ "item" : "copper_bolts" },
{ "item" : "copper_casing" },
{ "item" : "copper_gizmo_gears" },
{ "item" : "copper_screws" },
{ "item" : "copper_tube" },
{ "item" : "woodenstrut" },
{ "item" : "solder" },
{ "item" : "wood_stock" },
{ "item" : "roughcopperbomb" },
{ "item" : "molotov" },
// Alchemist - Alchemist Desk
{ "item" : "smallwfilledflask" },
{ "item" : "amberpowder" },
{ "item" : "cyanpowder" },
{ "item" : "orangepowder" },
{ "item" : "purplepowder" },
{ "item" : "simplefishoil" },
{ "item" : "smallemptyflask" },
{ "item" : "bleach" },
{ "item" : "red-dye" },
{ "item" : "green-dye" },
{ "item" : "blue-dye" },
{ "item" : "coaltransmute" },
{ "item" : "copperbaartransmute" },
{ "item" : "minorenergypotion" },
{ "item" : "minorhealingpotion" },
{ "item" : "elixiroftheglowworm" },
],
"tier2" : [
// All Race Crafts
{ "item" : "solidblackpowder" },
{ "item" : "solidgrindingstone" },
{ "item" : "silkthread" },
{ "item" : "bolt_of_silk_cloth" },
{ "item" : "mildspice" },
{ "item" : "cookedbass" },
{ "item" : "cookedgapper" },
{ "item" : "cookedtrout" },
{ "item" : "cookedcatfish" },
{ "item" : "bronzebar" },
{ "item" : "starlightink" },
{ "item" : "sailboatTech-chip" },
{ "item" : "target4object" },
{ "item" : "target5object" },
{ "item" : "target6object" },
{ "item" : "shortcapeback" },
{ "item" : "pixelherodemolegs" },
// Farmer - Farming Market
{ "item" : "woodcutting" },
{ "item" : "bluemelonseed" },
{ "item" : "greenleafseed" },
{ "item" : "cottonseed" },
{ "item" : "yellowfootseed" },
{ "item" : "jillyrootseed" },
// The Doc - Medical Station
{ "item" : "smallmedkit" },
// Runecrafter - Runecrafting Station
{ "item" : "gold_dust" },
{ "item" : "aegisalt_powder" },
{ "item" : "energyrune" },
{ "item" : "windrune" },
{ "item" : "lightningrune" },
{ "item" : "medium_amethyst" },
{ "item" : "medium_emerald" },
{ "item" : "medium_fluorite" },
{ "item" : "medium_ruby" },
{ "item" : "medium_sapphire" },
{ "item" : "medium_topaz" },
// Leathercrafter - Tanning Rack
{ "item" : "mediumleather" },
{ "item" : "curedmediumhide" },
// Engineer - Engineering Station
{ "item" : "bronze_framing" },
{ "item" : "flask_of_oil" },
{ "item" : "ironstrut" },
{ "item" : "fused_wiring" },
{ "item" : "gasgrenade" },
{ "item" : "electrogrenade" },
// Alchemist - Alchemist Desk
{ "item" : "cyan-dye" },
{ "item" : "yellow-dye" },
{ "item" : "vitaminfishoil" },
{ "item" : "ironbartransmute" },
{ "item" : "minorregenenergypotion" },
{ "item" : "minorregenhealingpotion" },
{ "item" : "elixirofthegrasshopper" },
{ "item" : "elixirofwaterbreathing" },
],
"tier3" : [
// All Race Crafts
{ "item" : "heavygrindingstone" },
{ "item" : "mooncloththread" },
{ "item" : "boltofmooncloth" },
{ "item" : "cookeddopyfish" },
{ "item" : "cookedsagefish" },
{ "item" : "cookedsalmon" },
{ "item" : "pyritebar" },
{ "item" : "dawnstarink" },
{ "item" : "target7object" },
{ "item" : "target8object" },
{ "item" : "target9object" },
// Farmer - Farming Market
{ "item" : "pinkloomseed" },
{ "item" : "goldshroomseed" },
{ "item" : "petrifiedroot" },
{ "item" : "goldenroot" },
// The Doc - Medical Station
// Runecrafter - Runecrafting Station
{ "item" : "rubium_powder" },
{ "item" : "cerulium_powder" },
{ "item" : "platnium_powder" },
{ "item" : "arcanerune" },
{ "item" : "vortexrune" },
{ "item" : "icerune" },
{ "item" : "durarockrune" },
{ "item" : "large_amethyst" },
{ "item" : "large_emerald" },
{ "item" : "large_fluorite" },
{ "item" : "large_ruby" },
{ "item" : "large_sapphire" },
{ "item" : "large_topaz" },
// Leathercrafter - Tanning Rack
{ "item" : "heavyleather" },
{ "item" : "thickheavyleather" },
// Engineer - Engineering Station
{ "item" : "unstable_trigger" },
{ "item" : "tinkatimer" },
{ "item" : "steelstrut" },
{ "item" : "power_core" },
{ "item" : "plasmagrenade" },
// Alchemist - Alchemist Desk
{ "item" : "philosopherstone" },
{ "item" : "toxicfishoil" },
{ "item" : "orange-dye" },
{ "item" : "frostprotectionpotion" },
{ "item" : "elixirofthelynx" },
],
"tier4" : [
// All Race Crafts
{ "item" : "densegrindingstone" },
{ "item" : "dawnstarthread" },
{ "item" : "boltofstarcloth" },
{ "item" : "boltofdawnstarcloth" },
{ "item" : "cookedcavefish" },
{ "item" : "cookedrainbowfish" },
{ "item" : "cookedrocktail" },
{ "item" : "cookedsquid" },
{ "item" : "starbar" },
{ "item" : "bloodofthemountainforgedbar" },
{ "item" : "celestialink" },
{ "item" : "flyingcarpetTech-chip" },
{ "item" : "hylotl_hoverbike-chip" },
{ "item" : "target10object" },
{ "item" : "targetdiamondobject" },
{ "item" : "rainbowcapeback" },
{ "item" : "rainbowhoodhead" },
// Farmer - Farming Market
{ "item" : "littlerascalseed" },
{ "item" : "dragonsbeardseed" },
{ "item" : "fayshroomseed" },
{ "item" : "lactariusindigoseed" },
{ "item" : "livingroot" },
// The Doc - Medical Station
// Runecrafter - Runecrafting Station
{ "item" : "diamond_powder" },
{ "item" : "titanium_powder" },
{ "item" : "deathrune" },
{ "item" : "destructionrune" },
{ "item" : "liferune" },
{ "item" : "prismatic_rainbow_gem" },
// Leathercrafter - Tanning Rack
{ "item" : "crystalinfusedmedleather" },
{ "item" : "curedthickhide" },
// Engineer - Engineering Station
{ "item" : "engineer_toolkit" },
{ "item" : "ship_fuel" },
{ "item" : "durasteelstrut" },
// Alchemist - Alchemist Desk
{ "item" : "rainbowpowder" },
{ "item" : "exoticfishoils" },
{ "item" : "purple-dye" },
{ "item" : "elixirofthefays" }
]
}
}