{
"__merge" : [],
"defaultBlueprints" : {
"__merge" : [],
"tier1": [ 
// More Alchemmy Stuff
{ "item" : "woodencork" },
{ "item" : "smallemptyflask" },
{ "item" : "smallwfilledflask" },
// Primary Tables
{ "item" : "AlchemistDesk" },
{ "item" : "EngineeringStation" },
// Secondary Tables
{ "item" : "RunecraftingStation" },
{ "item" : "FarmingMarket" },
{ "item" : "MedicalStation" },
// Cloth
{ "item" : "linen_cloth" },
// Farming Market Consumable Seeds
{ "item" : "carrotseed" },
{ "item" : "bluemelonseed" },
{ "item" : "bellpeppersseed" },
{ "item" : "banana" },
{ "item" : "corn" },
{ "item" : "grapes" },
{ "item" : "kiwi" },
{ "item" : "neonmelon" },
{ "item" : "pearlpea" },
{ "item" : "pineapple" },
{ "item" : "potato" },
{ "item" : "rice" },
{ "item" : "sugarcane" },
{ "item" : "tomato" },
{ "item" : "wheat" },
// Farming Market Herb Seeds
{ "item" : "dragonsbeardseed" },
{ "item" : "greenleafseed" },
{ "item" : "silverleafseed" },
{ "item" : "guamseed" },
{ "item" : "littlerascalseed" },
{ "item" : "mintseed" },
{ "item" : "pinkloomseed" },
// Farming Market Mushroom Seeds aka Spores
{ "item" : "goldshroomseed" },
{ "item" : "lactariusindigoseed" },
{ "item" : "yellowfootseed" },
// Farming Market Root Seeds
{ "item" : "bloodrootseed" },
{ "item" : "jillyrootseed" },
{ "item" : "goldenrootseed" },
// Farming Market MISC or Other Seeds
{ "item" : "cottonseed" },
// Powder
{ "item" : "amberpowder" },
{ "item" : "purplepowder" },
{ "item" : "orangepowder" },
{ "item" : "cyanpowder" },
// Rune Crafting
{ "item" : "waterrune" },
{ "item" : "firerune" },
// Bandages
{ "item" : "linenbandage" },
// MED Kits
{ "item" : "smallmedkit" },
// Potions
{ "item" : "minorhealingpotion" },
{ "item" : "minorenergypotion" },
// Transmutes
{ "item" : "philosopherstone" },
{ "item" : "coalore" },
{ "item" : "copperbar" },
{ "item" : "ironbar" },
// Dyes
{ "item" : "blue-dye" },
{ "item" : "green-dye" },
{ "item" : "red-dye" },
{ "item" : "black-dye" },
{ "item" : "white-dye" },
{ "item" : "purple-dye" },
{ "item" : "yellow-dye" },
{ "item" : "orange-dye" },
{ "item" : "amber-dye" },
{ "item" : "cyan-dye" },
{ "item" : "pink-dye" },
{ "item" : "brown-dye" },
{ "item" : "yellow-dye" },
{ "item" : "grey-dye" },
// Medical Gadgets
// Engineering Gadgets
{ "item" : "VaporCondenserGun" },
{ "item" : "LavaBlobber" },
{ "item" : "LethalPoisonInjector" }
]
}
}