{
"__merge" : [],
"defaultBlueprints" : {
"__merge" : [],
"tier1": [ 
// More Alchemmy Stuff
{ "item" : "woodencork" },
{ "item" : "smallemptyflask" },
{ "item" : "smallwfilledflask" },
// Primary Tables
{ "item" : "AlchemistDesk" },
{ "item" : "EngineeringStation" },
// Secondary Tables
{ "item" : "RunecraftingStation" },
{ "item" : "FarmingMarket" },
{ "item" : "MedicalStation" },
// Cloth
{ "item" : "linen_cloth" },
// Farming Market Consumable Seeds
{ "item" : "carrotseed" },
{ "item" : "bluemelonseed" },
{ "item" : "bellpeppersseed" },
{ "item" : "bananaseed" },
{ "item" : "cornseed" },
{ "item" : "grapesseed" },
{ "item" : "kiwiseed" },
{ "item" : "neonmelonseed" },
{ "item" : "pearlpeaseed" },
{ "item" : "pineappleseed" },
{ "item" : "potatoseed" },
{ "item" : "riceseed" },
{ "item" : "sugarcaneseed" },
{ "item" : "tomatoseed" },
{ "item" : "wheatseed" },
// Farming Market Herb Seeds
{ "item" : "dragonsbeardseed" },
{ "item" : "greenleafseed" },
{ "item" : "silverleafseed" },
{ "item" : "guamseed" },
{ "item" : "littlerascalseed" },
{ "item" : "mintseed" },
{ "item" : "pinkloomseed" },
// Farming Market Mushroom Seeds aka Spores
{ "item" : "goldshroomseed" },
{ "item" : "lactariusindigoseed" },
{ "item" : "yellowfootseed" },
// Farming Market Root Seeds
{ "item" : "bloodrootseed" },
{ "item" : "jillyrootseed" },
{ "item" : "goldenrootseed" },
// Farming Market MISC or Other Seeds
{ "item" : "cottonseed" },
// Powder
{ "item" : "amberpowder" },
{ "item" : "purplepowder" },
{ "item" : "orangepowder" },
{ "item" : "cyanpowder" },
// Rune Crafting
{ "item" : "waterrune" },
{ "item" : "firerune" },
// Bandages
{ "item" : "linenbandage" },
// MED Kits
{ "item" : "smallmedkit" },
// Potions
{ "item" : "minorhealingpotion" },
{ "item" : "minorenergypotion" },
{ "item" : "minorregenhealingpotion" },
{ "item" : "minorregenenergypotion" },
// Transmutes
{ "item" : "philosopherstone" },
{ "item" : "coalore" },
{ "item" : "copperbar" },
{ "item" : "ironbar" },
// Dyes
{ "item" : "blue-dye" },
{ "item" : "green-dye" },
{ "item" : "red-dye" },
{ "item" : "black-dye" },
{ "item" : "white-dye" },
{ "item" : "purple-dye" },
{ "item" : "yellow-dye" },
{ "item" : "orange-dye" },
{ "item" : "amber-dye" },
{ "item" : "cyan-dye" },
{ "item" : "pink-dye" },
{ "item" : "brown-dye" },
{ "item" : "yellow-dye" },
{ "item" : "grey-dye" },
// Medical Gadgets
// Engineering Gadgets
{ "item" : "VaporCondenserGun" },
{ "item" : "LavaBlobber" },
{ "item" : "LethalPoisonInjector" },
{ "item" : "plasmagrenade" },
{ "item" : "electrogrenade" },
{ "item" : "gasgrenade" },
// Engineering Explosives
{ "item" : "roughcopperbomb" },
{ "item" : "molotov" }
]
}
}